<ion-view title="Couple Up">
    <ion-content scroll="false">
        <div class="row" style="height: 100%;">
            <div class="col col-center" style="position: relative; top: -45px;">
                <div style="padding:20px;">
                    <h1 style="text-align: center; position: relative; left: -10px; font-weight: 200; margin-bottom:20px;">
                        <img src="images/logo.png" style="max-width: 100%; width: 50px; vertical-align:middle; margin-right: 10px; position: relative; top: -4px">DateNight
                    </h1>
                    <p style="color: #888; margin-bottom:30px; text-align: center; line-height: 1.5;">Find great things to see and do with your partner in and around Brisbane.</p>
                    <p>
                        <button style="border-radius:100px; display: block; padding: 5px; 20px; width: 100%; background-color: #009EE3; border: none;" class="button button-positive" ng-click="start()">Connect with my Partner</button>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
    <!-- <ion-footer-bar class="bar-assertive">
     
        <div class="button-bar">
            <button class="button button-positive" ng-click="start()" style="width: 100%;">
                Get Started
            </button>
        </div>
    </ion-footer-bar>-->
</ion-view>
