<ion-view title="Events">
    <!-- <ion-nav-buttons>
    <button class="button button-clear" ui-sref="tab.contacts-find">
        <i class="icon ion-heart"></i> 32
    </button>

</ion-nav-buttons>
 -->


    <!-- <ion-header-bar align-title="left" class="bar bar-subheader bar-stable" style="background-color: #FFFCD7">
        <button >Explore</button>
        <button ><i class="icon ion-heart"></i> {{ events.shared.length }}</button>
    </ion-header-bar> -->

    <ion-content class="has-header padding" style="background-color: #efefef;">
        <div style="margin-bottom: 100px;">
            <div class="card" ng-show="isShowingHelp && events.length > 0">
                <div class="item item-text-wrap">
                    Double tap an event image to share it with your partner.
                </div>
            </div>

            <div ng-hide="events" style="font-size: 25px; text-align: center;">
                <i class="icon ion-loading-d"></i>
            </div>

            <div ng-repeat="event in events" class="event-card">
                <event></event>
            </div>

            <a ui-sref="start" style="margin-top:30px;">Reset</a>
        </div>
    </ion-content>

    <!-- <div class="bar bar-footer">
    <div class="button-bar">
        <a class="button" ng-class="{'active' : data.activeButton == 1}" ng-click="showAll()">
            Explore
            </a>
        <a class="button" ng-class="{'active' : data.activeButton == 2}" ng-click="showShared()">
            <i class="icon ion-heart"></i> {{ events.shared.length }}
        </a>
    </div>
</div>
 -->
</ion-view>
